{% extends 'quotes_app/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card p-4" style="max-width: 500px; margin: 0 auto;">
                <h2 class="text-center mb-4">Change Password</h2>

                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}


                <form method="post" class="needs-validation" novalidate>
                    {% csrf_token %}

                    <div class="mb-3 mx-auto" style="max-width: 350px;">
                        <label for="id_old_password" class="form-label">Current Password</label>
                        <input type="password" name="old_password" class="form-control" id="id_old_password" required>
                        {% if form.old_password.errors %}
                        <div class="text-danger small">{{ form.old_password.errors|striptags }}</div>
                        {% endif %}

                    </div>
                    <div class="mb-3 mx-auto" style="max-width: 350px;">
                        <label for="id_new_password1" class="form-label">New Password</label>
                        <input type="password" name="new_password1" class="form-control" id="id_new_password1" required>
                        {% if form.new_password1.errors %}
                        <div class="text-danger small">{{ form.new_password2.errors|striptags }}</div>
                        {% endif %}
                        {% if form.new_password1.help_text %}
                        <small class="form-text text-muted">{{ form.new_password1.help_text }}</small>
                        {% endif %}
                    </div>
                    <div class="mb-3 mx-auto" style="max-width: 350px;">
                        <label for="id_new_password2" class="form-label">Repeat New Password</label>
                        <input type="password" name="new_password2" class="form-control" id="id_new_password2" required>
                        {% if form.new_password2.errors %}
                        <div class="text-danger small">{{ form.new_password2.errors|striptags }}</div>
                        {% endif %}
                    </div>

                    <div class="d-grid gap-2 mx-auto" style="max-width: 350px;">
                        <button type="submit" class="btn btn-dark py-2">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}